@media(min-width: 425px){
    html{
        scroll-snap-type: y mandatory;
    }
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* gap: 1.8rem; */
    }
    #mobile-logo{
        display: none;
    }
    .logo img{
        width: 260px;
        height: auto;
        padding: 0;
    }

    /*-----left section-----*/
    .first-section-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        padding: 1.5rem .9rem;
        position: fixed;
        left: 0;
        top: 0;
        width: 30%;
    }
    #left-footer{
        text-align: left;
        display: block;
    }
    #left-footer p{
        font-weight: bold;
        width: 75%;
        line-height: 25px;
    }
    .mobile-footer{
        display: none;
    }



    /*-----middle Section-----*/
    .middle-section-container{
        position: relative;
        left: 100%;
    }
    .middle-child{
        height: 100vh;
        scroll-snap-align: start;

    }
    .issue5-image{
        width: 100%;
    }
    .issue-image{
        width: 100%;
    }


    /*-----Right Section-----*/
    .right-section-container{
        position: fixed;
        right: 0;
        left: 10%;
    }
    .right-section-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        text-align: right;
        padding: 1.5rem .9rem;
    }
    .right-section-container .right-contact > p > span{
        font-size: 1.1rem;
        font-weight: bold;
    }
    .right-section-container .right-links ul{
        list-style: none;
    }
    .right-section-container .right-links ul li a{
        text-decoration: none;
        font-size: 18px;
        line-height: 28.8px;
        color: #251D20;
    }
    .right-section-container .right-links ul li a:hover{
        text-decoration: underline;
    }
    .right-section-container .right-links ul li a:active{
        font-weight: bold;
    }

    
    
}