@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #00c1b5;
    transition: background-color 0.6s ease-out;
}
.first-section-container{
    display: none;
}
.logo img{
    width: 200px;
    height: auto;
    padding: 1.5rem 1rem;
}
.right-section-container{
    display: none;
}




/*-----second section-----*/
.middle-child{
    padding-bottom: 4rem;
    height: 100vh;
}
.issue-image-container{
    padding-top: 1.5rem;
}
.issue-image{
    width: 80%;
    margin: 0 auto;
}
.issue-image > img{
    width: 100%;
}
#middle-fifth{
    height: unset;
}
.issue5-image{
    width: 80%;
    margin: 0 auto;
}
.issue5-image > img{
    width: 100%;
}
.section-text{
    text-align: center !important;
}
.section-text p > a{
    text-decoration: none;
    color: white;
    font-size: .8rem;
    font-weight: bold;
}
.section-text p{
    margin-bottom: 1rem;
}
.section-text p > span{
    color: white;
    font-weight: bold;
}

/*-----Mobile Footer-----*/
.mobile-footer{
    text-align: center;
    padding: .5rem;
}
.mobile-footer p{
    margin-top: 2rem;
}
.mobile-footer p > a{
   font-weight: bold;
   color: black;
}
.mobile-footer span{
    font-size: .8rem;
}
.mobile-footer span > a{
    text-decoration: underline;
}
.mobile-footer p > span{
    font-weight: bold;
    font-size: 1rem
}
